<div class="container">
 <div class="col-sm-2 mt-4 ml-3 text-center table-secondary">イベント編集</div>
  <%= form_with model: @event, url: event_path, method: :patch do |f| %>
    <div class="mt-4">

     <div class="row mt-2">
      <div class="col-sm-4">
       イベント名
      </div>
      <div class="col-sm-8">
       <%= f.text_field :name %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       概要
      </div>
      <div class="col-sm-8">
       <%= f.text_area :outline, class: "hogehoge", size: "50x3" %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       興味のある種目 ※任意選択・複数回答
      </div>
      <div class="col-sm-8">
       <%= f.collection_check_boxes :category_id, Category.all, :id, :name %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       募集人数
      </div>
      <div class="col">
       <%= f.select :number, (1..50).to_a %>人
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       イベント日時
      </div>
      <div class="col">
       <%= f.date_select :date, default: Date.tomorrow %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       都道府県
      </div>
      <div class="col">
       <%= f.select :prefecture_id, Prefecture.names.keys, {} %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       開催地
      </div>
      <div class="col">
       <%= f.text_field :place %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       参加費
      </div>
      <div class="col">
       <%= f.text_field :fee %>円
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       支払方法
      </div>
      <div class="col">
       <div>
        <%= f.radio_button :how_to_pay, Event.how_to_pays.key(0), checked: true %>
        <%= f.label :how_to_pay_local_pay, Event.how_to_pays_i18n[:local_pay] %>
       </div>
       <div>
        <%= f.radio_button :how_to_pay, Event.how_to_pays.key(1) %>
        <%= f.label :how_to_pay_transfer, Event.how_to_pays_i18n[:transfer] %>
       </div>
      </div>
     </div>

     <div class="mt-3 text-center">
      <%= f.submit "編集する", class: "w-25 btn btn-success" %>
     </div>
    </div>
  <% end %>
</div>