<div class="container">
 <div class="mt-4 mb-3 text-center"><h4>イベント編集</h4></div>
  <%= form_with model: @event, url: event_path, method: :patch do |f| %>
    <div class="mt-4">

     <div class="row mt-2">
      <div class="col-sm-4">
       イベント名
      </div>
      <div class="col-sm-8">
       <%= f.text_field :name %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       会場イメージ
      </div>
      <div class="col-sm-8">
       <%= f.file_field :image, accept: "image/*" %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       概要
      </div>
      <div class="col-sm-8">
       <%= f.text_area :outline, class: "hogehoge", size: "50x3" %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       種目 ※選択するとユーザーに通知できます
      </div>
      <div class="col-sm-8">
       <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       募集人数
      </div>
      <div class="col">
       <%= f.select :number, (1..50).to_a %>人
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       イベント日時
      </div>
      <div class="col">
       <%= f.date_select :date, default: Date.tomorrow %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       都道府県
      </div>
      <div class="col">
       <%= f.select :prefecture_id, Prefecture.names %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       開催地
      </div>
      <div class="col">
       <%= f.text_field :place %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       参加費
      </div>
      <div class="col">
       <%= f.text_field :fee %>円
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       支払方法
      </div>
      <div class="col">
       <div>
        <%= f.radio_button :how_to_pay, Event.how_to_pays.key(0), checked: true %>
        <%= f.label :how_to_pay_local_pay, Event.how_to_pays_i18n[:local_pay] %>
       </div>
       <div>
        <%= f.radio_button :how_to_pay, Event.how_to_pays.key(1) %>
        <%= f.label :how_to_pay_transfer, Event.how_to_pays_i18n[:transfer] %>
       </div>
      </div>
     </div>

      <div class="mt-4">
        <div class="d-flex justify-content-between">
          <%= f.submit "編集する", class: "w-25 btn btn-success" %>
          <%= link_to "削除する", event_path(@event.id), method: :delete, class: "w-25 btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>