<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h4>新規イベント登録</h4>

          <% if @event.errors.any? %>
            必要事項を登録してください
          <% end %>


        </div>
        <div class="card-body">
          <%= form_with model: @event, url: events_path, method: :post, html: { class: "mt-4" } do |f| %>
            <div class="form-group">
              <%= f.label :name, "イベント名" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :outline, "概要" %>
              <%= f.text_area :outline, class: "form-control hogehoge", rows: "3" %>
            </div>

            <div class="form-group">
              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
            </div>

            <div class="form-group">
              <%= f.label :image, "会場イメージ" %>
              <%= f.file_field :image, class: "form-control-file", accept: "image/*" %>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :number, "募集人数" %>
                <div class="input-group">
                  <%= f.select :number, (1..50).to_a, {}, class: "form-control" %>
                  <div class="input-group-append">
                    <span class="input-group-text">人</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :date, "イベント日" %>
                <%= f.date_select :date, default: Date.tomorrow, class: "form-control" %>
                <%= f.label :date, "イベント時間" %>
                <%= f.time_select :date, default: Time.now, class: "form-control" %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :prefecture_id, "都道府県" %>
                <%= f.select :prefecture_id, Prefecture.names, {}, class: "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :place, "開催地" %>
                <%= f.text_field :place, class: "form-control" %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :fee, "参加費" %>
                <div class="input-group">
                  <%= f.text_field :fee, class: "form-control" %>
                  <div class="input-group-append">
                    <span class="input-group-text">円</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :how_to_pay, "支払方法" %>
                <div class="form-check">
                  <%= f.radio_button :how_to_pay, Event.how_to_pays.key(0), checked: true, class: "form-check-input" %>
                  <%= f.label :how_to_pay_local_pay, Event.how_to_pays_i18n[:local_pay], class: "form-check-label" %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :how_to_pay, Event.how_to_pays.key(1), class: "form-check-input" %>
                  <%= f.label :how_to_pay_transfer, Event.how_to_pays_i18n[:transfer], class: "form-check-label" %>
                </div>
              </div>
            </div>

            <div class="form-group text-center">
              <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>