<div class="container mt-5">
  <div class="text-center">
    <h4 class="m-0">イベント詳細</h4>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="row">
        <!-- イベント写真 -->
        <div class="col-md-4">
          <div class="text-center">
            <% if @event.image.attached? %>
              <%= image_tag @event.image, size: "300x300", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid rounded" %>
            <% end %>
          </div>
        </div>
        <!-- イベント詳細情報 -->
        <div class="col-md-8">
          <div class="mb-2"><h2><%= @event.name %></h2></div>
          <div class="event-categories mb-2">
            <% @event.event_categories.each do |ec| %>
              <div class="badge badge-primary mr-2"><%= ec.category.name %></div>
            <% end %>
          </div>
          <div class="mt-2">
            <p>開催日時：<%= @event.date.strftime("%Y/%m/%d") %> <%= @event.time.strftime("%H:%M") %></p>
            <p>開催地：<%= Prefecture.names.invert[@event.prefecture_id] %> <%= @event.place %></p>

            <!--Google api 部分テンプレート-->
            <%= render 'map', event: @event %>

            <div class="mt-2">
              <p>募集人数：<%= @event.number %>人</p>
              <% if @event.user_id == current_user.id %>
                <p>現在の予約人数：<%= @event.reservations.sum(:reserved_number).to_s %>人</p>
              <% end %>
              <!--人数指定がある場合-->
              <% if @event.fixed_number.present? %>
                <p>・<%= @event.fixed_number %>人で予約してください。</p>
                <!--最小人数の指定がある場合-->
              <% elsif @event.minimum_number.present? %>
                <p>・<%= @event.minimum_number %>人以上で予約してください。</p>
              <% end %>
              <p>参加料金：<%= @event.fee %>円</p>
              <p>お支払い方法：<%= @event.how_to_pay_i18n %></p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

      <!-- イベント概要 -->
      <div class="row justify-content-center border-top">
        <div class="mt-3 col-md-8 text-left"><h5>イベント説明</h5>
          <div class="border border-4 rounded">
            <div class="ml-2 mt-3 text-break" style="word-wrap:8rem"><%= simple_format(@event.outline, sanitize: true) %></div>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <!--ログインしているか-->
        <% if user_signed_in? %>
        <!--現在のユーザーの予約があるかどうか-->
          <% if @check.present? %>
              <%= link_to "詳細", event_reservation_path(@event.id, @reservation), class: "btn btn-success" %>
          <% else %>
            <% if @event.user_id == current_user.id %>
              <%= link_to "編集", edit_event_path(@event.id), class: "btn btn-success" %>
            <% else %>
              <% if @event.date >= Date.today %>
                <%= link_to '予約する', new_event_reservation_path(@event.id), class: "btn btn-success" %>
              <% else %>
                このイベントは終了しました。
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to '予約する', new_user_session_path, class: "btn btn-success" %>
        <% end %>
      </div>



  <div class="row justify-content-center mt-4">
    <!-- いいねとコメント -->
    <div class="col-md-8">
      <div class="mb-3">
        <% if user_signed_in? %>
          <% if @event.favorited_by?(current_user) %>
            <%= link_to event_favorites_path(@event), method: :delete do %>
              <i class="fa-solid fa-heart" style="color: #ff0505;"></i>
              <%= @event.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to event_favorites_path(@event), method: :post do %>
              <i class="fa-regular fa-heart" style="color: #ff0505;"></i>
              <%= @event.favorites.count %> いいね
            <% end %>
          <% end %>
        <% end %>
      </div>

      <h5>コメント</h5>
      <p>コメント件数:<%= @event.comments.count %></p>
      <% @event.comments.each do |comment| %>
        <div class="media mb-3">
          <% if comment.user.image.attached? %>
            <%= image_tag comment.user.image, size: "100x100", class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100", class: "rounded-circle" %>
          <% end %>
          <div class="media-body ml-2">
            <h6 class="mt-0"><%= comment.user.full_name %></h6>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= simple_format(comment.comment, sanitize: true) %></p>
            <% if user_signed_in? && comment.user == current_user %>
              <%= link_to "削除", event_comment_path(comment.event, comment), method: :delete, class: "text-danger", data: {confirm: "コメントを削除しますか？"}  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <% if user_signed_in? %>
        <%= form_with model: [@event, @comment], html: { class: "mt-3" } do |f| %>
          <h5>コメントを投稿</h5>
          <div class="form-group">
            <%= f.text_area :comment, rows: '5', placeholder: "コメントしてください", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to 'コメントを投稿するにはログインしてください', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
 　　 </div>
  </div>

</div>
