<div class="container mt-5">
  <div class="text-center">
    <h4>イベント詳細</h4>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="row">
        <!-- イベント写真 -->
        <div class="col-md-4">
          <div class="text-center">
            <% if @event.image.attached? %>
              <%= image_tag @event.image, size: "300x300", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag 'no_image', size: "300x300", class: "img-fluid rounded" %>
            <% end %>
          </div>
        </div>
        <!-- イベント詳細情報 -->
        <div class="col-md-8">
          <div class="mb-2"><h2><%= @event.name %></h2></div>
          <div class="event-categories mb-2">
            <% @event.event_categories.each do |ec| %>
              <span class="badge badge-primary mr-2"><%= ec.category.name %></span>
            <% end %>
          </div>
          <div class="mt-2">
            <p>開催日時：<%= @event.date.strftime("%Y/%m/%d") %> <%= @event.time.strftime("%H:%M") %></p>
            <p>開催地：<%= Prefecture.names.invert[@event.prefecture_id] %> <%= @event.place %></p>
            <script type="text/javascript">
             function initMap() {
               var test = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
               var map = new google.maps.Map(document.getElementById('map'), {
                         zoom: 15,
                         center: test
                         });
               var transitLayer = new google.maps.TransitLayer();
               transitLayer.setMap(map);
               var contentString = '住所：<%= @event.place %>';
               var infowindow = new google.maps.InfoWindow({
                 content: contentString
               });
               var marker = new google.maps.Marker({
                             position:test,
                             map: map
                           });
               marker.addListener('click', function() {
                 infowindow.open(map, marker);
               });
             }
            </script>
            <style type="text/css">
              #map { height: 300px;
                    width: 100%;}
            </style>
            <script async defer
                       src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
            </script>
            <div id="map"></div>
            <p>募集人数：<%= @event.number %>人</p>
            <% if @event.fixed_number.present? %>
              <p>・<%= @event.fixed_number %>人で予約してください。</p>
            <% elsif @event.minimum_number.present? %>
              <p>・<%= @event.minimum_number %>人以上で予約してください。</p>
            <% end %>
            <p>参加料金：<%= @event.fee %>円</p>
            <p>お支払い方法：<%= @event.how_to_pay_i18n %></p>
          </div>
        </div>

      </div>

      <!-- イベント概要 -->
      <div class="text-center mt-4">
        <h5>概要</h5>
        <p><%= @event.outline %></p>
      </div>

      <!-- 予約ボタン -->
      <div class="text-center mt-4">
        <% if user_signed_in? %>
          <% reservation = current_user.reservations.find_by(event_id: @event.id) %>
          <% if reservation %>
            <% @user_reserved.each do |reserved| %>
              <%= link_to "詳細", event_reservation_path(reserved.event, reserved), class: "btn btn-success" %>
            <% end %>
          <% else %>
            <% if @event.user_id == current_user.id %>
              <%= link_to "編集", edit_event_path(@event.id), class: "btn btn-success" %>
            <% else %>
              <% if @event.date >= Date.today %>
                <%= link_to '予約する', new_event_reservation_path(@event.id), class: "btn btn-success" %>
              <% else %>
                このイベントは終了しました。
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to '予約する', new_user_session_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <!-- いいねとコメント -->
    <div class="col-md-8">
      <div class="mb-3">
        <% if user_signed_in? %>
          <% if @event.favorited_by?(current_user) %>
            <%= link_to event_favorites_path(@event), method: :delete do %>
              <i class="fa-solid fa-heart" style="color: #ff0505;"></i>
              <%= @event.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to event_favorites_path(@event), method: :post do %>
              <i class="fa-regular fa-heart" style="color: #ff0505;"></i>
              <%= @event.favorites.count %> いいね
            <% end %>
          <% end %>
        <% end %>
      </div>

      <h5>コメント</h5>
      <p>コメント件数:<%= @event.comments.count %></p>
      <% @event.comments.each do |comment| %>
        <div class="media mb-3">
          <% if comment.user.image.attached? %>
            <%= image_tag comment.user.image, size: "100x100", class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100", class: "rounded-circle" %>
          <% end %>
          <div class="media-body ml-2">
            <h6 class="mt-0"><%= comment.user.full_name %></h6>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= comment.comment %></p>
            <% if user_signed_in? && comment.user == current_user %>
              <%= link_to "削除", event_comment_path(comment.event, comment), method: :delete, class: "text-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <% if user_signed_in? %>
        <%= form_with model: [@event, @comment], html: { class: "mt-3" } do |f| %>
          <h5>コメントを投稿</h5>
          <div class="form-group">
            <%= f.text_area :comment, rows: '5', placeholder: "コメントしてください", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to 'コメントを投稿するにはログインしてください', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
 　　 </div>
  </div>

</div>
