<div class="container mt-5">
  <div class="text-center">
    <h4>予約編集</h4>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
　<% end %>

      <div class="mt-4 text-center">
        <% if @event.fixed_number.present? %>
          <h4>
            ※<%= @event.fixed_number %>人で予約してください。
          </h4>
        <% elsif @event.minimum_number.present? %>
          <h4>
            ※<%= @event.minimum_number %>人以上で予約してください。
          </h4>
        <% end %>
        <% if @event.available_numbers > 0 %>
          <div class="alert alert-success mx-auto" style = "width: 300px;">
            現在<%= @event.available_numbers %>人予約可能です。
          </div>
          <%= form_with model: @reservation, url: event_reservation_path, method: :patch do |f| %>
            <div class="form-group">
              <div class="mx-auto">
                <%= f.label :reserved_number, "予約人数" %>
                <div class="input-group mx-auto" style="width: 200px;">
                  <%= f.number_field :reserved_number, class: "form-control" %>
                  <div class="input-group-append">
                    <span class="input-group-text">人</span>
                  </div>
                </div>
              </div>
            </div>
            <%= f.hidden_field :event_id, value: @event.id %>
            <%= f.hidden_field :date, value: @event.date %>
            <div class="text-center m-2">
              <%= f.submit "予約する", class: "btn btn-success mr-4" %>
              <%= link_to "戻る", event_reservation_path, class: "btn btn-secondary" %>
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-danger">
            満員のため受付は終了しました。たくさんのご応募ありがとうございました。
          </div>
        <% end %>
      </div>

</div>