<div class="container mt-5">
  <div class="text-center">
    <h4 class="m-0">予約詳細</h4>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="row">
        <!-- イベント写真 -->
        <div class="col-md-4">
          <div class="text-center">
            <% if @event.image.attached? %>
              <%= image_tag @event.image, size: "300x300", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid rounded" %>
            <% end %>
          </div>
        </div>
        <!-- イベント詳細情報 -->
        <div class="col-md-8">
          <div class="mb-2"><h4><%= @event.name %></h4></div>
          <div class="event-categories mb-2">
            <% @event.event_categories.each do |event| %>
              <div class="badge badge-primary mr-2"><%= event.category.name %></div>
            <% end %>
          </div>
          <div class="mt-2">
            <p>開催日時：<%= @event.date %></p>
            <p>開催地：<%= Prefecture.names.invert[@event.prefecture_id] %> <%= @event.place %></p>
            
            <script type="text/javascript">
             function initMap() {
               var test = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
               var map = new google.maps.Map(document.getElementById('map'), {
                         zoom: 15,
                         center: test
                         });
               var transitLayer = new google.maps.TransitLayer();
               transitLayer.setMap(map);
               var contentString = '住所：<%= @event.place %>';
               var infowindow = new google.maps.InfoWindow({
                 content: contentString
               });
               var marker = new google.maps.Marker({
                             position:test,
                             map: map
                           });
               marker.addListener('click', function() {
                 infowindow.open(map, marker);
               });
             }
            </script>
            <style type="text/css">
              #map { height: 300px;
                    width: 100%;}
            </style>
            <script async defer
                       src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
            </script>
            <div id="map"></div>

            <div class="mt-2">
              <p>募集人数：<%= @event.number %>人</p>
              <% if @event.date >= Date.today %>
                <p><%= @reservation.reserved_number %>人で予約しています。</p>
              <% else %>
                <p><%= @reservation.reserved_number %>人でご参加されました。</p>
              <% end %>

              <% if @reservation.reserved_number >= 2 %>
                <p><h4>代表者名：<%= @reservation.user.last_name %> <%= @reservation.user.first_name %> 様</h4></p>
              <% else %>
                <p>予約者名：<%= @reservation.user.last_name %> <%= @reservation.user.first_name %> 様</p>
              <% end %>
              <p>参加料金：<%= @event.fee %>円</p>
              <p>お支払い方法：<%= @event.how_to_pay_i18n %></p>
            </div>

          </div>
        </div>
      </div>

      <!-- イベント概要 -->
      <div class="row justify-content-center border-top">
        <div class="mt-3 col-md-6 text-left"><h5>概要</h5>
          <div class="mt-3 text-break" style="word-wrap:8rem"><%= simple_format(@event.outline, sanitize: true) %></div>
        </div>
      </div>

      <% if @event.date >= Date.today %>
        <% if !@event.fixed_number.present? %>
          <div class="d-flex justify-content-between mt-5">
            <%= link_to '登録内容を変更する', edit_event_reservation_path(@event, @reservation), class: "btn btn-success" %>
            <%= link_to '取り消す', event_reservation_path(@event, @reservation), method: :delete, class: "btn btn-danger", data: {confirm: "予約を取り消しますか？"} %>
          <% else %>
            <%= link_to '取り消す', event_reservation_path(@event, @reservation), method: :delete, class: "btn btn-danger", data: {confirm: "予約を取り消しますか？"} %>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">ご参加ありがとうございました。</div>
      <% end %>
    </div>
  </div>

</div>
