<div class="container mt-5">
  <div class="text-center">
    <h4 class="m-0">予約詳細</h4>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="row">
        <!-- イベント写真 -->
        <div class="col-md-4">
          <div class="text-center">
            <% if @event.image.attached? %>
              <%= image_tag @event.image, size: "300x300", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "300x300", class: "img-fluid rounded" %>
            <% end %>
          </div>
        </div>
        <!-- イベント詳細情報 -->
        <div class="col-md-8">
          <div class="mb-2"><h4><%= @event.name %></h4></div>
          <div class="event-categories mb-2">
            <% @event.event_categories.each do |event| %>
              <div class="badge badge-primary mr-2"><%= event.category.name %></div>
            <% end %>
          </div>
          <div class="mt-2">
            <div class="mt-2">開催日時：<%= @event.date %></div>
            <div class="mt-3 mb-3">開催地：<%= Prefecture.names.invert[@event.prefecture_id] %> <%= @event.place %></div>

            <!--Google api 部分テンプレート-->
            <%= render 'public/events/map', event: @event %>

          </div>
        </div>

      </div>
    </div>
  </div>

      <!-- イベント概要 -->
      <div class="mt-3 row justify-content-center border-top">
        <div class="mt-3 col-md-8 text-left"><h5>イベント説明</h5>
          <div class="border border-4 rounded">
            <div class="ml-2 mt-3 text-break" style="word-wrap:8rem"><%= simple_format(@event.outline, sanitize: true) %></div>
          </div>

          <div class="mt-2">
            <div class="mt-2">募集人数：<%= @event.number %>人</div>
            <% if @event.date >= Date.today %>
              <div class="mt-2 ml-4">< <%= @reservation.reserved_number %>人で予約しています。></div>
            <% else %>
              <div class="mt-2 ml-4">< <%= @reservation.reserved_number %>人でご参加されました。></div>
            <% end %>

            <% if @reservation.reserved_number >= 2 %>
              <div class="mt-2"><h5>代表者名：<%= @reservation.user.last_name %> <%= @reservation.user.first_name %> 様</h5></div>
            <% else %>
              <div class="mt-2"><h5>予約者名：<%= @reservation.user.last_name %> <%= @reservation.user.first_name %> 様</h5></div>
            <% end %>
            <div class="mt-2">参加料金：<%= @event.fee %>円</div>
            <div class="mt-2">お支払い方法：<%= @event.how_to_pay_i18n %></div>
          </div>
        </div>
      </div>

      <% if @event.date >= Date.today %>
        <% if !@event.fixed_number.present? %>
          <div class="d-flex justify-content-between mt-5">
            <%= link_to '登録内容を変更する', edit_event_reservation_path(@event, @reservation), class: "btn btn-success" %>
            <%= link_to '取り消す', event_reservation_path(@event, @reservation), method: :delete, class: "btn btn-danger", data: {confirm: "予約を取り消しますか？"} %>
          <% else %>
            <%= link_to '取り消す', event_reservation_path(@event, @reservation), method: :delete, class: "btn btn-danger", data: {confirm: "予約を取り消しますか？"} %>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">ご参加ありがとうございました。</div>
      <% end %>
    </div>
  </div>

</div>
