<div class="container">
 <div class="mt-4 mb-3 text-center"><h4 class="m-0">ユーザー編集</h4></div>
  <%= form_with model: @user, url: user_information_path, method: :patch do |f| %>
    <div class="mt-4">

     <div class="row">
      <div class="col-sm-3">
       お名前
      </div>
      <div class="col-sm-1">
       （姓）
      </div>
      <div class="col-sm-3">
       <%= f.text_field :last_name %>
      </div>
      <div class="col-sm-1">
       （名）
      </div>
      <div class="col">
       <%= f.text_field :first_name %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       お写真
      </div>
      <div class="col-sm-8">
       <%= f.file_field :image, accept: "image/*" %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       性別
      </div>
      <div class="col-sm-8">
       <%= f.select :gender, User.genders_i18n.invert, {} %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       生年月日
      </div>
      <div class="col-sm-8">
       <%= f.date_select :birthday, { start_year: 1950, end_year: 2020,
                                      include_blank: true,
                                      use_two_digit_numbers: true } %>
      </div>
     </div>

    <% if @user.group.blank? %>
    <% else %>
     <div class="row mt-2">
      <div class="col">
       団体名
      </div>
      <div class="col">
       <%= f.text_field :group %>
      </div>
      <div class="col">
      </div>
     </div>
    <% end %>

     <div class="row mt-2">
      <div class="col">
       メールアドレス
      </div>
      <div class="col">
       <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       電話番号（ハイフンなし）※半角
      </div>
      <div class="col">
       <%= f.text_field :phone_number %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col">
       郵便番号（ハイフンなし）※半角
      </div>
      <div class="col">
       <%= f.text_field :postal_code %>
      </div>
      <div class="col">
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       都道府県
      </div>
      <div class="col-sm-8">
       <%= f.select :prefecture_id, Prefecture.names %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       市区町村　番地
      </div>
      <div class="col-sm-8">
       <%= f.text_field :address, class: "hogehoge", size: "50x1" %>
      </div>
     </div>

     <div class="row mt-2">
      <div class="col-sm-4">
       興味のある種目 ※任意選択・複数回答
      </div>
      <div class="col-sm-8">
       <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <%= b.check_box + b.text %>
       <% end %>
      </div>
     </div>

     <div class="mt-3 text-center">
      <%= f.submit "編集する", class: "btn btn-success btn-sm mr-5" %>
      <%= link_to "退会する", user_unsubscribe_path, class: "btn btn-danger btn-sm ml-5" %>
     </div>
    </div>
  <% end %>
</div>