<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center" style="background-color: #32EEFF; color: white;">
          <h4>マイページ</h4>
        </div>

        <% if @notifications.present? %>
        <!--通知-->

              <%= link_to "招待が届いています", user_notification_path,class: "btn btn-warning btn-sm", remote: true %>
            <div id="mask" class="hidden"></div>
            <div id="modal" class="hidden overlay modal-content"></div>
        <% end %>

        <div class="card-body">
          <!-- プロフィール画像 -->
          <div class="text-center">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, size: "200x200", class: "rounded-circle" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200", class: "rounded-circle" %>
            <% end %>
          </div>

          <!-- ユーザー情報 -->
          <div class="mt-3">
            <h4 class="font-weight-bold">登録情報</h4>
            <%= link_to "編集する", user_information_edit_path, class: "btn btn-success btn-sm" %>
            <%= link_to "退会する", user_unsubscribe_path, class: "btn btn-danger btn-sm" %>
          </div>

          <table class="table table-bordered mt-3">
            <tbody>
              <% if @user.group.blank? %>
               <tr>
                <th class="bg-info text-white" scope="row" style="width: 40%;">氏名</th>
                <td><%= @user.last_name %> <%= @user.first_name %></td>
               </tr>
              <% else %>
               <tr>
                <th class="bg-info text-white" scope="row" style="width: 40%;">団体名</th>
                <td><%= @user.group %></td>
               </tr>
               <tr>
                <th class="bg-info text-white" scope="row" style="width: 40%;">代表者名</th>
                <td><%= @user.last_name %> <%= @user.first_name %></td>
             　 </tr>
              <% end %>
              <tr>
                <th class="bg-info text-white" scope="row">性別</th>
                <td><%= @user.gender %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">生年月日</th>
                <td><%= @user.birthday %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">メールアドレス</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">電話番号</th>
                <td><%= @user.phone_number %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">郵便番号</th>
                <td><%= @user.postal_code %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">都道府県</th>
                <td><%= Prefecture.names.invert[@user.prefecture_id] %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">住所</th>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <th class="bg-info text-white" scope="row">興味のある競技</th>
                <td>
                  <% @user.user_interests.each do |ui| %>
                    <%= ui.category.name %><br>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>