<!DOCTYPE html>
<html>
  <head>
    <title>SportsMeet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ac5b2f3156.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <main>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
        <div class="container">
          <% if user_signed_in? %>
            <%= link_to events_path, class: "navbar-brand" do %>
              <i class="fa-solid fa-person-running mr-2"></i>
              SportsMeet
            <% end %>
          <% elsif admin_signed_in? %>
            <%= link_to  admin_index_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-person-running mr-2"></i>
              SportsMeet
            <% end %>
          <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
              <i class="fa-solid fa-person-running mr-2"></i>
              SportsMeet
            <% end %>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <!-- ユーザーがログインしている場合 -->
                <li class="nav-item">
                  <%= link_to new_event_path, class: "nav-link" do %>
                    イベントを開催する
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_reserved_path, class: "nav-link" do %>
                    参加予定のイベント
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_favorite_path, class: "nav-link" do %>
                    お気に入りイベント
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_mypage_path, class: "nav-link" do %>
                    マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <!-- 管理者がログインしている場合 -->
                <li class="nav-item">
                  <%= link_to admin_events_path, class: "nav-link" do %>
                    イベント一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_categories_path, class: "nav-link" do %>
                    カテゴリー一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_admin_category_path, class: "nav-link" do %>
                    カテゴリー追加
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                    ログアウト
                  <% end %>
                </li>
              <% else %>
                <!-- ログインしていない場合 -->
                <li class="nav-item">
                  <%= link_to events_path, class: "nav-link" do %>
                    イベント一覧
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </body>
  </main>

    <footer>
      <div class="mt-5 p-3 bg-primary bg-gradient">
        <div class="border-dark border-dark">
          <!-- フッターコンテンツを追加 -->
          <div class="container text-center text-white">
            <p>&copy; 2023 SportsMeet</p>
          </div>
        </div>
      </div>
    </footer>

</html>
