<!DOCTYPE html>
<html>
  <head>
    <title>SportsMeet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ac5b2f3156.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
   <nav class="navbar navbar-expand-lg navbar-dark border border-dark" style="background-color: #33FF66;">
      <% if user_signed_in? %>
       <%= link_to events_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-person-running" style="color: #000000;">SportsMeet</i>
       <% end %>
      <% else %>
       <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-person-running" style="color: #000000;">SportsMeet</i>
       <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

         <% if user_signed_in? %>
          <li>
            <%= link_to new_event_path, class: "nav-link text-dark" do %>
             イベントを開催する
            <% end %>
          </li>
          <% if current_user.reservations.any? %>
            <li>
              <%= link_to user_reserved_path, class: "nav-link text-dark" do %>
               参加予定のイベント
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to events_path, class: "nav-link text-dark" do %>
             イベント一覧
            <% end %>
          </li>
          <li>
            <%= link_to user_favorite_path, class: "nav-link text-dark" do %>
             お気に入りイベント
            <% end %>
          </li>
          <li>
            <%= link_to user_mypage_path, class: "nav-link text-dark" do %>
             マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
             ログアウト
            <% end %>
          </li>

         <% elsif admin_signed_in? %>
          <li>
            <%= link_to new_admin_category_path, class: "nav-link text-dark" do %>
             カテゴリー追加
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark" do %>
             ログアウト
            <% end %>
          </li>

         <% else %>
          <li>
            <%= link_to events_path, class: "nav-link text-dark" do %>
             イベント一覧
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class='mt-5' style="height:70px; background-color: #33FF66;">
      <div class='border-dark border-top'>
      </div>
    </div>
  </footer>

</html>
